/*------------------------------------*\
    Global
\*------------------------------------*/
@charset "utf-8";
*{
	position: relative;
	box-sizing: border-box;
}
body{
	font-family: "Gen Jyuu Gothic LP";
    font-weight:bold;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}

.container{
	max-width: 1440px;
	width: 100%;
	/*border: 1px solid #000;*/
	margin: 0 auto;
	padding-left: 16px;
	padding-right: 16px;
}
.row{
	/*border: 1px solid blue;*/
	margin-left: -16px;
	margin-right: -16px;
}
.row:after{
	content: '';
	display: block;
	clear: both;
}
.col-lg-6,.col-lg-4,.col-lg-3,.col-lg-12,
.col-md-6,.col-md-4,.col-md-3,.col-md-12,
.col-sm-6,.col-sm-4,.col-sm-3,.col-sm-12{
	/*border: 1px solid red;*/
	float: left;
	padding-left: 16px;
	padding-right: 16px;
}

.col-lg-3{
	width: 25%;
}
.col-lg-4{
	width: 33.3333333%;
}
.col-lg-6{
	width: 50%;
}
.col-lg-12{
	width: 100%;
}

@media screen and (max-width: 768px){
	.col-md-3{
		width: 25%;
	}
	.col-md-4{
		width: 33.3333333%;
	}
	.col-md-6{
		width: 50%;
	}
	.col-md-12{
		width: 100%;
	}
}


@media screen and (max-width: 540px){
	.col-sm-3{
		width: 25%;
	}
	.col-sm-4{
		width: 33.3333333%;
	}
	.col-sm-6{
		width: 50%;
	}
	.col-sm-12{
		width: 100%;
	}
}



/*------------------------------------*\
    navbar
\*------------------------------------*/
.navbar{
	/*border: 1px solid #000;*/
	height: 127px;
	background-image: url('../pic/navbar-bgp.png');
	position: fixed;
    z-index: 500;
	width: 100%;
	left: 0;
	top: 0;
}
.navbar .brand{
	display: inline-block;
	vertical-align: top;
	/*border: 1px solid #000;*/
	width: 146px;
	height: 127px;
	background-image: url('../pic/navbar-logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	/*color: #fff;*/
	white-space: nowrap;
	text-indent: 100%;
	overflow: hidden;
}
.navbar .nav{
	float: right;
    /*display: none;*/
}
.navbar .nav .nav-item{
	float: left;
}
.navbar .nav .nav-link{
    text-decoration: none;
	display: block;
	color: #fff;
	line-height: 24px;
	padding: 33px 16px;
	/*border: 1px solid #fff;*/
	transition: color 0.3s;
}
.navbar .nav .nav-link:hover{
	color: #EB5E24;
}



@media screen and (max-width: 900px){
	.navbar .nav{
		display: inline-block;
	}
}

@media screen and (max-width: 900px){
	.navbar .nav{
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: #000;
		z-index: 800;
		
		display: flex;
		flex-direction: column;
		justify-content: center;

		opacity: 0;
		visibility: hidden;
		/*transition: all 0.3s;*/
	}
	#popup-menu:target{
		opacity: 1;
		visibility: visible;
	}
	.navbar .nav .nav-item{
		text-align: center;
		
	}
}

/* menu-toggle */
.navbar .menu-toggle{
	width: 48px;
	height: 48px;
	/*border: 1px solid #fff;*/
	float: right;
	margin-top: 38px;
	display: none;
}

@media screen and (max-width: 900px){
	.navbar .menu-toggle{
		display: inline-block;
	}
}
.navbar .menu-toggle span{
	display: block;
	width: 32px;
	height: 3px;
	background-color: #ffffff;
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
}

.navbar .menu-toggle span:nth-child(1){
	top: 12px;
}
.navbar .menu-toggle span:nth-child(2){
	top: 22px;
}
.navbar .menu-toggle span:nth-child(3){
	top: 32px;
}

/* close-btn */
.navbar .close-btn{
	display: none;
	width: 48px;
	height: 48px;
	position: absolute;
	right: 16px;
	top: 8px;
}
@media screen and (max-width: 900px){
	.navbar .close-btn{
		display: block;
	}
}
.navbar .close-btn span{
	width: 40px;
	height: 2px;
	position: absolute;
	background-color: #EB5E24;
	top: 50%;
	left: 50%;
}
.navbar .close-btn span:nth-child(1){
	transform: translate(-50%,-50%) rotate(45deg);
}
.navbar .close-btn span:nth-child(2){
	transform: translate(-50%,-50%) rotate(-45deg);
}





/*------------------------------------*\
    content
\*------------------------------------*/

.content .pic9{
    width: 101%;
    /*height: 100%;*/
    margin-top: 111px;
    background-image: url(../pic/all.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.sendbtn{
    display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 24px;
	padding: 12px 64px;
	border: 0;
	color: #fefefe;
	text-decoration: none;
	border-radius: 26px;
	font-family: "MF QiHei(Noncommercial)";
	cursor: pointer;
}
.sendbtn.sendbtn--primary{
	background-color: #000000;
}
.sendbtn.sendbtn--secondary{
	background-color: #333;
}
input.sendbtn:focus{
	outline: 0;
}

input[type="text"]{
    display: inline-block;
    vertical-align: top;
    line-height: 44px;
    padding: 0 8px;
    width: 100%;
    border: 1px solid #efefef;
    background-color: #efefef;
    border-radius: 4px;
    box-sizing: border-box;
    color: #333;
}
input[type="moretext"]{
    display: inline-block;
    vertical-align: top;
    line-height: 120px;
    padding: 0 8px;
    width: 100%;
    border: 1px solid #efefef;
    background-color: #efefef;
    border-radius: 4px;
    box-sizing: border-box;
    color: #333;
}

input[type="text"]:focus,
input[type="moretext"]:focus,{
    outline: 0;
    border-color: #ff3b68;
}
/* placeholder */
::placeholder{
    color: #aaa;
}
/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* form */
.form{
	display: flex;
	flex-direction: column;
	padding-left: 25px;
	padding-right: 25px;
}
.form__item{
	margin-bottom: 16px;
}
.form__item--center{
	text-align: center;
}
.form__item > label{
	display: inline-block;
	font-size: 16px;
	margin-bottom: 8px;
}
.form__sendbtn-group{
	display: flex;
	justify-content: center;
	padding-top: 8px;
}
.form__sendbtn-group .btn:not(:last-child){
	margin-right: 8px;
}
@media (max-width: 540px){
	.form__sendbtn-group{
		flex-direction: column;
	}
	.form__sendbtn-group .btn:not(:last-child){
		margin-right: 0px;
		margin-bottom: 16px;
	}
}


/*------------------------------------*\
    Styles for apply
\*------------------------------------*/
.apply{
	max-width: 600px;
	margin: 0 auto;
	padding: 44px 0;
}
.apply__title{
	font-size: 32px;
	font-weight: 900;
	text-align: center;
    margin-top: 10px;
	margin-bottom: 32px;
}
.apply__subtitle{
	font-size: 20px;
	font-weight: 800;
	line-height: 32px;
	margin-bottom: 24px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding-top: 32px;
}
.apply__term{
	margin-top: 32px;
}
.apply__term a{
	color: #ff3b68;
}




/*------------------------------------*\
    footer
\*------------------------------------*/

.footer .pic10{
    width: 101%;
    height: 410px;
    margin-top: -20px;
    background-image: url(../pic/footre-bgp.png);
	left: 0;
	bottom:0;
}

.footer .row{
    width: 100%;
    height: 210px;
    padding-top: 100px;
    padding-bottom: 10px;

}

@media screen and (max-width: 768px) {
    .footer .row{
        padding-top: 1px;
    }
}

.footer .left{
    margin-top: 74px;
    margin-left: 64px;
}

@media screen and (max-width: 1042px){
	.footer .left{
        padding-bottom: 40px;
    }
}


.footer .Community{
    padding-bottom: 20px;
}
.footer .link span{
    width:24px;
    height:24px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    
}

@media screen and (max-width: 1042px){
	.footer .link span{
        width:18px;
        height:18px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        vertical-align: middle;
        color: #fff;
    }
}

.footer .link b{
    font-weight: 400;
    padding-left: 10px;
    font-size: 24px;
    vertical-align: middle;
    font-weight: bold;
	font-family: "Gen Jyuu Gothic LP";
    color: #C5E0F5;
}

@media screen and (max-width: 1042px){
	.footer .link b{
        font-weight: 400;
        padding-left: 10px;
        font-size: 18px;
        vertical-align: middle;
        font-weight: bold;
        font-family: "Gen Jyuu Gothic LP";
        color: #C5E0F5;
    }
}

.footer .image{
    width: 529.69px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    margin-right: 34px;
}

@media screen and (max-width: 1042px){
    .footer .image{
        width: 285px;
        height: 107.61px;
    }
}

.footer .title{
    font-size: 16px;
    font-family: "Gen Jyuu Gothic LP";
    color: #ffffff;
    text-align: center;
    margin-top: 150px;

}
@media screen and (max-width: 1042px){
	.footer .title{
        margin-top: 165px;
    }
}
